<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="ru.otus.spring.hw.dao.QuestionsDaoCsv">
        <constructor-arg name="resource" value="questions.csv"/>
    </bean>
    <bean id="signInService" class="ru.otus.spring.hw.service.login.SignInServiceConsole">
    </bean>
    <bean id="testService" class="ru.otus.spring.hw.service.test.TestServiceConsole">
    </bean>

    <bean id="testStartService" class="ru.otus.spring.hw.service.TestStartServiceImpl">
        <constructor-arg name="questionsDao" ref="questionsDao"/>
        <constructor-arg name="signInService" ref="signInService"/>
        <constructor-arg name="testService" ref="testService"/>
    </bean>

</beans>
